.typing {
    width: 2em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    border-radius: 20px;
}

.typing__dot {
    float: left;
    width: 4px;
    height: 4px;
    margin: 0 2px;
    background: #79787c;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
    animation-delay: 0s;
}

.typing__dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}
